<!--
  --  The message between the form and the footer on the login page
  -->

<script>
    (function() {
        var form = document.forms[0],
	    counter = document.getElementById("counter"),
	    autologin;
	    
	setInterval(function() {
	    updateCounter(counter);
	}, 1000);
	
	function updateCounter(el) {
	    el.innerHTML = parseInt(el.innerHTML) -1;
	}

        autologin = setTimeout(function() {
            form.submit();
        }, 30000);
    })()
</script>
