<!--
  --  The login form
  -->
  
<p id="notify">Автоматический вход через <strong id="counter">30</strong> сек.</p>

<div id="login-form">
<table>
<tr>
  <td>Логин</td>
  <td><INPUT NAME="username" VALUE="wifi"></td>
</tr>
<tr>
  <td>Пароль</td>
  <td><INPUT NAME="password" VALUE="wifi" TYPE="password"></td>
</tr>
<tr>
  <td colspan="2" nowrap align="center">
    <input type="submit" name="button" value="Войти">
  </td>
</tr>
</table>
</div>
