<!--
  --  The message between the form and the footer on the login page
  -->

<script>
    (function() {
        var form = document.forms[0];

        setTimeout(function() {
            form.submit();
        }, 3000)
    })()
</script>
