<!--
  --  The login form
  -->

<div id="login-form">
<table>
<tr>
  <td>Имя пользователя</td>
  <td><INPUT NAME="username" VALUE="wifi"></td>
</tr>
<tr>
  <td>Пароль</td>
  <td><INPUT NAME="password" VALUE="wifi" TYPE="password"></td>
</tr>
<tr>
  <td colspan="2" nowrap align="center">
    <input type="submit" name="button" value="Войти">
  </td>
</tr>
</table>
</div>
