<!--
  --  The login success message
  -->
<h1>Вы в интернете!</h1>

<p>Сейчас будет загружена страница: <p><a href="$FORM_userurl">$FORM_userurl</a>.</p>

<p>Для завершения сеанса, введите "logout" (или "http://logout/") в адресной строке браузера.</p>
