<!--
  --  The message between the header and the form on the login page
  -->
<div class="info">
    <p>Вы подключились к беспроводной сети ИГУИ Avalon-Web. В сети осуществляется свободный доступ к интернету
        без доступа к корпоративной сети Института.</p>

    <p>Гостевой доступ действует в течение 30 минут.</p>

    <p>Введите в форму ниже логин и пароль пользователя в домене avalon.ru для получения доступа к интернету
    без ограничения по времени.</p>
</div>