<!--
  --  The message between the form and the footer on the login page
  -->

<script>
    (function() {
        var form = document.forms[0],
	    counter = document.getElementById(counter),
	    autologin;
	    
	setInterval(function(counter) {
	    counter.innerHTML = parseInt(innerHTML) - 1;
	}, 1000);

        autologin = setTimeout(function() {
            form.submit();
        }, 30000);
    })()
</script>
